extends default

block content
    div.px-4
        if days.length > 0
                each day in days
                    div(class='card mb-3')
                        div(class='card-body')
                            h5(class='card-title') #{day.date}
                            p(class='card-text') #{day.content}
                            if day.links.length > 0
                                each link in day.links
                                    a(target='_blank' class='card-link' href=`${link.target}`) #{link.name}