extends default

block content
    div.container
        if days.length > 0
            each day in days
                div.day
                    h2 #{day.date}
                    p #{day.content}
                    if day.links.length > 0
                        ul 
                            each link in day.links
                                li= link