doctype html
html(class="h-100")
  head
    meta(name="charset" content="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Why should you buy an advent calendar when you can have one for free? This year, do something kind every day of December!")
    meta(name="keywords" content="advent, calendar, krind, christmas")
    meta(property="og:title" content="Kind Advent Calendar")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://kind-advent-calendar.com/")
    meta(property="og:image" content="https://kind-advent-calendar.com/images/advent-caleandar.jpg")
    title #{title}
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
    block scripts
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-N20D6PRHBK")
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-N20D6PRHBK');
 

  body(class='d-flex flex-column h-100')
    main
      block header
        header.header
          h1 #{title}&nbsp;
            i(class='bi bi-tree')
      block content
    footer(class="footer mt-auto bg-dark text-white text-center py-2")
      div.container 
        span This year, just be kind!
        span
          a(target='_blank' class='text-decoration-none' href='https://twitter.com/intent/tweet?text=This%20year%2C%20just%20be%20kind%21%20https%3A%2F%2Fkind-advent-calendar.com%2F') &nbsp;&nbsp;Share on Twitter &nbsp;
            i(class='bi bi-twitter')