extends default

block content
  div.container
    h1 hello
    each day in days
      div.day
        h2 #{day.date}
        p #{day.content}
        ul 
            each link in `${day.links}`
                li link