extends default

block content
    div(class="px-4 day-content")
        if day
            div(class='card')
                div(class='card-body')
                    h5(class='card-title') #{day.date}
                    p(class='card-text') #{day.content}
                    if day.links.length > 0
                        each link in day.links
                            a(target='_blank' class='card-link' href=`${link.target}`) #{link.name}
        else 
            div(class='card')
                div(class='card-body')
                    p Come back next year!
