/* ==========================================================================
   #STYLES
   ========================================================================== */

/* Header
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #f90000;
  color: #FFFFFF;
  margin-bottom: 50px;
}

/* Buttons
   ========================================================================== */

.day-content {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
